openapi: 3.1.1
info:
  title: SafeRx Enterprise API
  version: 2026.07.28
  summary: Contract-first medication intelligence for enterprise integrations
  description: The current MIS Enterprise developer surface for registry lookup and
    medication safety review, allergy reference, and prescription OCR workflows.
    Responses are bilingual, bounded, and closed-schema. Access requires an issued
    Enterprise API key with the route entitlement for the requested operation.
  termsOfService: https://saferx.online/terms
  contact:
    name: SafeRx API Support
    email: support@saferx.online
    url: https://saferx.online
  license:
    name: Proprietary
    url: https://saferx.online/terms
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://saferx.online/api/enterprise/v1
  description: SafeRx Enterprise API
security:
- enterpriseApiKey: []
components:
  securitySchemes:
    enterpriseApiKey:
      type: apiKey
      in: header
      name: X-SafeRx-API-Key
      description: API key used as the HMAC signing secret. X-SafeRx-Timestamp, X-SafeRx-Nonce,
        and X-SafeRx-Signature are also required.
  responses:
    Problem:
      description: RFC 9457 problem response
      content:
        application/problem+json:
          schema:
            $ref: ./components.yaml#/components/schemas/ProblemDetails
paths:
  /registry/resolve:
    post:
      operationId: enterprise_registry_resolve
      summary: Resolve free-text medication names to registry candidates
      description: Bounded resolution of one or more free-text medication descriptions
        into ranked registry candidates. Use this before a safety check when you only
        have a raw medication name, dose, or prescription line, not a known `sfrx_id`.
        It cannot search, enumerate, or export the registry.
      responses:
        '200':
          description: Medication resolution results
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/MedicationResolutionList
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/MedicationResolutionRequest
  /capabilities:
    get:
      operationId: enterprise_capabilities
      summary: 'Deferred: account/key capability metadata'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet
        and must not be relied on. Use `enterprise_safety_capabilities` for current
        safety-domain readiness metadata instead.
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /safety/checks:
    post:
      operationId: enterprise_safety_check
      summary: Run a medication safety check
      description: Evaluates one or more medications, optionally against a
        request-scoped `patient_context`, across the requested safety domains
        (interactions, pregnancy/lactation, clinical dose, food/meal, allergy).
        Enterprise never reads a saved profile -- every patient factor considered
        must be supplied on this request. Requires `Idempotency-Key`; a retried
        request with the same key and body returns the original result rather than
        creating a new check.
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      responses:
        '200':
          description: Medication safety check result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCheckResponse
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/ClientSafetyCheckRequest
  /registry/ingredients:
    get:
      operationId: enterprise_registry_ingredients
      summary: Search registry ingredients
      description: Bounded ingredient-name search across active substances,
        generic components, and therapeutic classes. Returns ingredient identity
        and the count of linked products, not full product records -- use
        `enterprise_registry_search` or `enterprise_registry_product_detail` for
        product-level detail.
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      responses:
        '200':
          description: Registry ingredients
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/IngredientList
        default:
          $ref: '#/components/responses/Problem'
  /safety/capabilities:
    get:
      operationId: enterprise_safety_capabilities
      summary: Get current safety-domain readiness metadata
      description: Release and domain readiness metadata only -- which of the six
        safety domains are currently evaluable, and current source/policy versions.
        Makes no patient-specific clinical claim. Useful as a first call to confirm
        connectivity and current domain coverage before running safety checks.
      responses:
        '200':
          description: Safety capability metadata
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCapabilities
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /status:
    get:
      operationId: enterprise_status
      summary: 'Deferred: current account/key status'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet
        and must not be relied on.
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /registry/search:
    get:
      operationId: enterprise_registry_search
      summary: Search registry products
      description: Paginated free-text search over registry products by trade name,
        generic name, or ingredient. For a known `sfrx_id`, use
        `enterprise_registry_product_detail` directly instead.
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 120
      - $ref: ./components.yaml#/components/parameters/cursor
      - $ref: ./components.yaml#/components/parameters/limit
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      responses:
        '200':
          description: Registry search results
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistryProductSummaryList
        default:
          $ref: '#/components/responses/Problem'
  /registry/products/{sfrx_id}:
    get:
      operationId: enterprise_registry_product_detail
      summary: Get a registry product by SFRX ID
      description: Full registry product record for a known `sfrx_id`, including
        display name, generic components, dosage form, route, and domain
        availability. Use `enterprise_registry_resolve` first if you only have a
        free-text medication description.
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - $ref: ./components.yaml#/components/parameters/sfrxId
      responses:
        '200':
          description: Registry product detail
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistryProductDetail
        default:
          $ref: '#/components/responses/Problem'
  /registry/suggest:
    get:
      operationId: enterprise_registry_autocomplete
      summary: Autocomplete registry product/ingredient names
      description: Fast, high-volume keystroke-driven suggestions for a search box.
        Lighter-weight than `enterprise_registry_search`; use it for typeahead, not
        as a substitute for a full search or resolution call.
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 80
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
      responses:
        '200':
          description: Registry suggestions
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistrySuggestionList
        default:
          $ref: '#/components/responses/Problem'
  /safety/checks/{check_id}:
    get:
      operationId: enterprise_safety_check_read
      summary: 'Deferred: read back a previously created safety check'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet.
        Callers should retain the response from `enterprise_safety_check` directly
        rather than expecting to read it back later.
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /safety/check-batches:
    post:
      operationId: enterprise_safety_check_batch
      summary: 'Deferred: run multiple safety checks in one call'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet.
        Run individual `enterprise_safety_check` calls until this is promoted.
      x-status: deferred
      x-idempotency-required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /erx/safety-checks:
    post:
      operationId: enterprise_erx_safety_check
      summary: Run a safety check for an eRx workflow
      description: Safety check variant for electronic-prescription integrations.
        Shares the same six-domain evaluation and response shape as
        `enterprise_safety_check`, but takes the prescription as an
        integration-specific `erx_payload` rather than a free-text medication
        list. Requires `Idempotency-Key` so retried eRx submissions cannot
        double-evaluate the same prescription.
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/ErxSafetyCheckRequest
      responses:
        '200':
          description: eRx safety check result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCheckResponse
        default:
          $ref: '#/components/responses/Problem'
  /allergies/resolve:
    post:
      operationId: enterprise_allergy_resolve
      summary: 'Deferred: resolve free-text allergy entries'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet.
        Allergy state can still be supplied on a safety check via
        `patient_context.allergies` even though this dedicated resolver is deferred.
      x-status: deferred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /allergies/families:
    get:
      operationId: enterprise_allergy_families
      summary: 'Deferred: list allergy families'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet.
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /allergies/substances:
    get:
      operationId: enterprise_allergy_substances
      summary: 'Deferred: search allergy substances'
      description: Not yet available. This operation is documented for contract
        completeness but returns a `501` upstream; it has no success response yet.
      x-status: deferred
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions:
    post:
      operationId: enterprise_ocr_prescription_create
      summary: Upload a prescription image to start an OCR workflow
      description: Starts an asynchronous prescription-intake workflow from an
        uploaded image (`multipart/form-data`). Returns `202` with a
        `prescription_id` immediately; poll `enterprise_ocr_prescription_read` or
        stream `enterprise_ocr_prescription_events` for workflow progress, then
        call resolve/safety/review in sequence. Requires an OCR-entitled key and
        `Idempotency-Key`.
      x-entitlement-required: ocr_prescription
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: ./components.yaml#/components/schemas/PrescriptionUploadRequest
      responses:
        '202':
          description: Prescription upload accepted
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionCreated
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}:
    get:
      operationId: enterprise_ocr_prescription_read
      summary: Get the current state of an OCR prescription workflow
      description: Returns the current workflow status, transition history, and
        candidate medications for a prescription created via
        `enterprise_ocr_prescription_create`. Poll this or subscribe to
        `enterprise_ocr_prescription_events` rather than assuming a fixed
        processing time.
      x-entitlement-required: ocr_prescription
      responses:
        '200':
          description: OCR prescription workflow result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/events:
    get:
      operationId: enterprise_ocr_prescription_events
      summary: Stream OCR prescription workflow events
      description: Server-sent-events stream of workflow transitions for a
        prescription, as an alternative to polling
        `enterprise_ocr_prescription_read`.
      x-entitlement-required: ocr_prescription
      responses:
        '200':
          description: OCR prescription events
          content:
            text/event-stream:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/medications/resolve:
    post:
      operationId: enterprise_ocr_prescription_resolve
      summary: Resolve OCR-extracted medication candidates
      description: Advances an OCR prescription workflow by resolving the
        text/candidates extracted from the uploaded image into registry
        medications. Call after the workflow reaches a state ready for
        resolution (see `enterprise_ocr_prescription_read`/events).
      x-entitlement-required: ocr_prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: OCR medication resolution result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/safety-checks:
    post:
      operationId: enterprise_ocr_prescription_safety
      summary: Run a safety check on a resolved OCR prescription
      description: Runs the six-domain safety evaluation over the medications
        resolved for this prescription workflow. Call after
        `enterprise_ocr_prescription_resolve` has produced resolved medications.
      x-entitlement-required: ocr_prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: OCR prescription safety result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/review:
    post:
      operationId: enterprise_ocr_prescription_review
      summary: Submit a professional review decision for an OCR prescription
      description: Records the professional review outcome for a prescription
        workflow, closing out the review requirement carried on its safety result.
        This is the terminal step of the OCR lifecycle for cases that require
        review before the result may be relied upon.
      x-entitlement-required: ocr_prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: OCR prescription review result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
