openapi: 3.1.1
info:
  title: SafeRx Enterprise API
  version: 2026.07.28
  summary: Contract-first medication intelligence for enterprise integrations
  description: The current MIS Enterprise developer surface for registry lookup and
    medication safety review, allergy reference, and prescription OCR workflows.
    Responses are bilingual, bounded, and closed-schema. Access requires an issued
    Enterprise API key with the route entitlement for the requested operation.
  termsOfService: https://saferx.online/terms
  contact:
    name: SafeRx API Support
    email: support@saferx.online
    url: https://saferx.online
  license:
    name: Proprietary
    url: https://saferx.online/terms
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://saferx.online/api/enterprise/v1
  description: SafeRx Enterprise API
security:
- enterpriseApiKey: []
components:
  securitySchemes:
    enterpriseApiKey:
      type: apiKey
      in: header
      name: X-SafeRx-API-Key
      description: API key used as the HMAC signing secret. X-SafeRx-Timestamp, X-SafeRx-Nonce,
        and X-SafeRx-Signature are also required.
  responses:
    Problem:
      description: RFC 9457 problem response
      content:
        application/problem+json:
          schema:
            $ref: ./components.yaml#/components/schemas/ProblemDetails
paths:
  /registry/resolve:
    post:
      operationId: enterprise_registry_resolve
      responses:
        '200':
          description: Medication resolution results
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/MedicationResolutionList
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/MedicationResolutionRequest
  /capabilities:
    get:
      operationId: enterprise_capabilities
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /safety/checks:
    post:
      operationId: enterprise_safety_check
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      responses:
        '200':
          description: Medication safety check result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCheckResponse
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/ClientSafetyCheckRequest
  /registry/ingredients:
    get:
      operationId: enterprise_registry_ingredients
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      responses:
        '200':
          description: Registry ingredients
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/IngredientList
        default:
          $ref: '#/components/responses/Problem'
  /safety/capabilities:
    get:
      operationId: enterprise_safety_capabilities
      responses:
        '200':
          description: Safety capability metadata
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCapabilities
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /status:
    get:
      operationId: enterprise_status
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /registry/search:
    get:
      operationId: enterprise_registry_search
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 120
      - $ref: ./components.yaml#/components/parameters/cursor
      - $ref: ./components.yaml#/components/parameters/limit
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      responses:
        '200':
          description: Registry search results
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistryProductSummaryList
        default:
          $ref: '#/components/responses/Problem'
  /registry/products/{sfrx_id}:
    get:
      operationId: enterprise_registry_product_detail
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - $ref: ./components.yaml#/components/parameters/sfrxId
      responses:
        '200':
          description: Registry product detail
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistryProductDetail
        default:
          $ref: '#/components/responses/Problem'
  /registry/suggest:
    get:
      operationId: enterprise_registry_autocomplete
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 80
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
      responses:
        '200':
          description: Registry suggestions
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistrySuggestionList
        default:
          $ref: '#/components/responses/Problem'
  /safety/checks/{check_id}:
    get:
      operationId: enterprise_safety_check_read
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /safety/check-batches:
    post:
      operationId: enterprise_safety_check_batch
      x-status: deferred
      x-idempotency-required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /erx/safety-checks:
    post:
      operationId: enterprise_erx_safety_check
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: eRx safety check result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCheckResponse
        default:
          $ref: '#/components/responses/Problem'
  /allergies/resolve:
    post:
      operationId: enterprise_allergy_resolve
      x-status: deferred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /allergies/families:
    get:
      operationId: enterprise_allergy_families
      x-status: deferred
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /allergies/substances:
    get:
      operationId: enterprise_allergy_substances
      x-status: deferred
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
      responses:
        '501':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions:
    post:
      operationId: enterprise_ocr_prescription_create
      x-entitlement-required: ocr_prescription
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: ./components.yaml#/components/schemas/PrescriptionUploadRequest
      responses:
        '202':
          description: Prescription upload accepted
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionCreated
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}:
    get:
      operationId: enterprise_ocr_prescription_read
      x-entitlement-required: ocr_prescription
      responses:
        '200':
          description: OCR prescription workflow result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/events:
    get:
      operationId: enterprise_ocr_prescription_events
      x-entitlement-required: ocr_prescription
      responses:
        '200':
          description: OCR prescription events
          content:
            text/event-stream:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/medications/resolve:
    post:
      operationId: enterprise_ocr_prescription_resolve
      x-entitlement-required: ocr_prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: OCR medication resolution result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/safety-checks:
    post:
      operationId: enterprise_ocr_prescription_safety
      x-entitlement-required: ocr_prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: OCR prescription safety result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
  /ocr/prescriptions/{prescription_id}/review:
    post:
      operationId: enterprise_ocr_prescription_review
      x-entitlement-required: ocr_prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: OCR prescription review result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/PrescriptionResult
        default:
          $ref: '#/components/responses/Problem'
