// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SafeRx from "../../../index.js";

export declare namespace DevelopersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DevelopersClient {
    protected readonly _options: NormalizedClientOptions<DevelopersClient.Options>;

    constructor(options: DevelopersClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Step 1 of 2: Request a verification code to get a free API key.
     *
     * - Sends a 6-digit code to your email (expires in 30 minutes)
     * - Max 5 codes per email per hour (anti-spam)
     * - If email already has a verified key, returns it immediately
     * - Use POST /api/developers/keys/free/verify with the code to receive your key
     *
     * @param {SafeRx.CreateFreeKeyDevelopersRequest} request
     * @param {DevelopersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SafeRx.TooManyRequestsError}
     * @throws {@link SafeRx.InternalServerError}
     *
     * @example
     *     await client.developers.createFreeKey({
     *         email: "developer@example.com"
     *     })
     */
    public createFreeKey(
        request: SafeRx.CreateFreeKeyDevelopersRequest,
        requestOptions?: DevelopersClient.RequestOptions,
    ): core.HttpResponsePromise<SafeRx.CreateFreeKeyDevelopersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createFreeKey(request, requestOptions));
    }

    private async __createFreeKey(
        request: SafeRx.CreateFreeKeyDevelopersRequest,
        requestOptions?: DevelopersClient.RequestOptions,
    ): Promise<core.WithRawResponse<SafeRx.CreateFreeKeyDevelopersResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SafeRxEnvironment.Production,
                "api/developers/keys/free",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SafeRx.CreateFreeKeyDevelopersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new SafeRx.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new SafeRx.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SafeRxError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/developers/keys/free");
    }

    /**
     * Step 2 of 2: Verify your email with the 6-digit code and receive your API key.
     *
     * - Code expires after 30 minutes
     * - Max 5 wrong attempts per code (then must request new code)
     * - On success: issues sfx_free_ key (persistent, 1 per email)
     * - Free tier: 20 requests/minute, 60 requests/day
     *
     * @param {SafeRx.VerifyFreeKeyDevelopersRequest} request
     * @param {DevelopersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SafeRx.BadRequestError}
     * @throws {@link SafeRx.ForbiddenError}
     *
     * @example
     *     await client.developers.verifyFreeKey({
     *         email: "developer@example.com",
     *         code: "123456"
     *     })
     */
    public verifyFreeKey(
        request: SafeRx.VerifyFreeKeyDevelopersRequest,
        requestOptions?: DevelopersClient.RequestOptions,
    ): core.HttpResponsePromise<SafeRx.VerifyFreeKeyDevelopersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verifyFreeKey(request, requestOptions));
    }

    private async __verifyFreeKey(
        request: SafeRx.VerifyFreeKeyDevelopersRequest,
        requestOptions?: DevelopersClient.RequestOptions,
    ): Promise<core.WithRawResponse<SafeRx.VerifyFreeKeyDevelopersResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SafeRxEnvironment.Production,
                "api/developers/keys/free/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SafeRx.VerifyFreeKeyDevelopersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SafeRx.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new SafeRx.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SafeRxError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/developers/keys/free/verify",
        );
    }
}
