openapi: 3.1.1
info:
  title: SafeRx Enterprise API
  version: 2.0.2-preview.1
  summary: Contract-first medication intelligence for enterprise integrations
  description: The current MIS Enterprise developer surface for registry lookup and
    medication safety review. Responses are bilingual, bounded, and closed-schema.
    This is a signed-request preview contract; production availability is controlled
    by the MIS release gate.
  termsOfService: https://saferx.online/terms
  contact:
    name: SafeRx API Support
    email: support@saferx.online
    url: https://saferx.online
  license:
    name: Proprietary
    url: https://saferx.online/terms
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://saferx.online/api/enterprise/v1
  description: SafeRx Enterprise API
security:
- enterpriseApiKey: []
components:
  securitySchemes:
    enterpriseApiKey:
      type: apiKey
      in: header
      name: X-SafeRx-API-Key
      description: API key used as the HMAC signing secret. X-SafeRx-Timestamp, X-SafeRx-Nonce,
        and X-SafeRx-Signature are also required.
  responses:
    Problem:
      description: RFC 9457 problem response
      content:
        application/problem+json:
          schema:
            $ref: ./components.yaml#/components/schemas/ProblemDetails
paths:
  /registry/resolve:
    post:
      operationId: enterprise_registry_resolve
      responses:
        '200':
          description: Medication resolution results
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/MedicationResolutionList
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/MedicationResolutionRequest
  /capabilities:
    get:
      operationId: enterprise_capabilities
      responses:
        '200':
          description: Current bounded Enterprise metadata
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/EnterpriseCapabilities
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /safety/checks:
    post:
      operationId: enterprise_safety_check
      x-idempotency-required: true
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - $ref: ./components.yaml#/components/parameters/idempotencyKey
      responses:
        '200':
          description: Medication safety check result
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCheckResponse
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components.yaml#/components/schemas/ClientSafetyCheckRequest
  /registry/ingredients:
    get:
      operationId: enterprise_registry_ingredients
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      responses:
        '200':
          description: Registry ingredients
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/IngredientList
        default:
          $ref: '#/components/responses/Problem'
  /safety/capabilities:
    get:
      operationId: enterprise_safety_capabilities
      responses:
        '200':
          description: Safety capability metadata
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/SafetyCapabilities
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /status:
    get:
      operationId: enterprise_status
      responses:
        '200':
          description: Current bounded Enterprise metadata
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/EnterpriseStatus
        default:
          $ref: '#/components/responses/Problem'
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
  /registry/search:
    get:
      operationId: enterprise_registry_search
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 120
      - $ref: ./components.yaml#/components/parameters/cursor
      - $ref: ./components.yaml#/components/parameters/limit
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      responses:
        '200':
          description: Registry search results
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistryProductSummaryList
        default:
          $ref: '#/components/responses/Problem'
  /registry/products/{sfrx_id}:
    get:
      operationId: enterprise_registry_product_detail
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - $ref: ./components.yaml#/components/parameters/sfrxId
      responses:
        '200':
          description: Registry product detail
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistryProductDetail
        default:
          $ref: '#/components/responses/Problem'
  /registry/suggest:
    get:
      operationId: enterprise_registry_autocomplete
      parameters:
      - $ref: ./components.yaml#/components/parameters/signedSignature
      - $ref: ./components.yaml#/components/parameters/signedNonce
      - $ref: ./components.yaml#/components/parameters/signedTimestamp
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 80
      - name: locale
        in: query
        required: false
        schema:
          $ref: ./components.yaml#/components/schemas/Locale
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
      responses:
        '200':
          description: Registry suggestions
          content:
            application/json:
              schema:
                $ref: ./components.yaml#/components/schemas/RegistrySuggestionList
        default:
          $ref: '#/components/responses/Problem'
