// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SafeRx from "../../../index.js";

export declare namespace DrugSafetyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Unified drug safety screening endpoints
 */
export class DrugSafetyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DrugSafetyClient.Options>;

    constructor(options: DrugSafetyClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Screen one or more drugs across six safety domains in a single request.
     *
     * The API resolves drug names via fuzzy matching, runs all requested safety
     * checks in parallel, and returns a unified response with alerts bubbled to
     * the top for easy triage.
     *
     * **Typical response time:** ~40ms (warm cache, 3 drugs, all domains).
     *
     * @param {SafeRx.DrugSafetyCheckRequest} request
     * @param {DrugSafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SafeRx.BadRequestError}
     * @throws {@link SafeRx.UnauthorizedError}
     * @throws {@link SafeRx.ForbiddenError}
     * @throws {@link SafeRx.TooManyRequestsError}
     * @throws {@link SafeRx.InternalServerError}
     *
     * @example
     *     await client.drugSafety.check({
     *         drugs: ["Augmentin 1g", "Glucophage 500mg", "Marivan"],
     *         lang: "en"
     *     })
     *
     * @example
     *     await client.drugSafety.check({
     *         drugs: ["Augmentin 1g", "Glucophage 500mg", "Marivan"],
     *         patient_profile: {
     *             populations: ["geriatric", "renal"],
     *             conditions: ["diabetes", "hypertension"]
     *         },
     *         include: ["ae", "ddi", "pllr", "clinical"],
     *         lang: "en"
     *     })
     *
     * @example
     *     await client.drugSafety.check({
     *         drugs: ["Augmentin 1g", "Marivan"],
     *         include: ["ddi"]
     *     })
     *
     * @example
     *     await client.drugSafety.check({
     *         drugs: ["Augmentin 1g", "Glucophage 500mg"],
     *         lang: "ar"
     *     })
     */
    public check(
        request: SafeRx.DrugSafetyCheckRequest,
        requestOptions?: DrugSafetyClient.RequestOptions,
    ): core.HttpResponsePromise<SafeRx.DrugSafetyCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__check(request, requestOptions));
    }

    private async __check(
        request: SafeRx.DrugSafetyCheckRequest,
        requestOptions?: DrugSafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<SafeRx.DrugSafetyCheckResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SafeRxEnvironment.Production,
                "api/drug_safety/check",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SafeRx.DrugSafetyCheckResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SafeRx.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new SafeRx.UnauthorizedError(
                        _response.error.body as SafeRx.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new SafeRx.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new SafeRx.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new SafeRx.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SafeRxError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/drug_safety/check");
    }

    /**
     * Returns available populations, conditions, database versions, risk level
     * scales, and current tier limits.
     *
     * Use this endpoint to:
     * - Populate dropdown menus with valid population and condition values
     * - Check database versions and coverage statistics
     * - Verify your tier and rate limits
     * - Cache metadata locally (changes infrequently — safe to cache for 24 hours)
     *
     * @param {DrugSafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SafeRx.UnauthorizedError}
     * @throws {@link SafeRx.TooManyRequestsError}
     *
     * @example
     *     await client.drugSafety.getMetadata()
     */
    public getMetadata(
        requestOptions?: DrugSafetyClient.RequestOptions,
    ): core.HttpResponsePromise<SafeRx.MetadataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMetadata(requestOptions));
    }

    private async __getMetadata(
        requestOptions?: DrugSafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<SafeRx.MetadataResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SafeRxEnvironment.Production,
                "api/drug_safety/metadata",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SafeRx.MetadataResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SafeRx.UnauthorizedError(
                        _response.error.body as SafeRx.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new SafeRx.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SafeRxError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/drug_safety/metadata");
    }

    /**
     * Returns health status of the Drug Safety API subsystem including
     * overall system health and availability.
     *
     * No authentication required. Designed for monitoring services.
     *
     * @param {DrugSafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.drugSafety.getDrugSafetyHealth()
     */
    public getDrugSafetyHealth(
        requestOptions?: DrugSafetyClient.RequestOptions,
    ): core.HttpResponsePromise<SafeRx.GetDrugSafetyHealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDrugSafetyHealth(requestOptions));
    }

    private async __getDrugSafetyHealth(
        requestOptions?: DrugSafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<SafeRx.GetDrugSafetyHealthResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SafeRxEnvironment.Production,
                "api/drug_safety/health",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SafeRx.GetDrugSafetyHealthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SafeRxError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/drug_safety/health");
    }
}
