openapi: 3.1.1
info:
  title: SafeRx Drug Safety API
  version: "1.3.0"
  summary: Comprehensive drug safety screening for Egyptian pharmaceuticals
  description: |
    One API call. Seven safety domains. 66,000+ Egyptian products.

    The SafeRx Drug Safety API provides real-time drug safety screening across
    seven clinical domains: adverse effects, drug interactions, pregnancy & lactation
    safety, food interactions, clinical considerations, dosing information, and
    patient allergy matching.

    ## Key Features

    - **Unified endpoint** — screen 1–20 drugs in a single POST request
    - **Seven safety domains** checked in parallel (~40ms average response)
    - **66,704 Egyptian products** with bilingual English/Arabic support
    - **Smart drug resolution** — accepts trade names, generic names, or partial matches
    - **Alert bubbling** — critical safety issues surfaced as top-level alerts
    - **Stable API contract** — public field names are versioned and will not change without notice

    ## Safety Domains

    | Domain | Description | Data Points |
    |--------|-------------|-------------|
    | `ae` | Adverse effects, Black Box Warnings, monitoring | 1.4M+ effects, 98.2% coverage |
    | `ddi` | Drug-drug interactions (requires 2+ drugs) | 337K interaction pairs |
    | `pllr` | Pregnancy & lactation risk ratings | 24,512 products mapped |
    | `food` | Meal timing & food-drug conflicts | 38K+ interactions |
    | `clinical` | Population & condition safety alerts | 5 populations, 14 conditions |
    | `dose` | Dose limits, daily-dose references, and product-level dosing caveats | Unified dosing coverage, tier-based safety |
    | `allergy` | Patient allergy matching and cross-reactivity warnings | Allergy family and cross-reaction reference data |

    ## Getting Started

    1. Request verification code: `POST /api/developers/keys/free` with your email
    2. Check your email for 6-digit code (expires in 30 min)
    3. Verify and receive key: `POST /api/developers/keys/free/verify` with email + code
    4. Call `POST /api/drug_safety/check` with your API key in `X-SafeRx-API-Key` header

    For detailed integration guides, visit [docs.saferx.online](https://docs.saferx.online).
  termsOfService: https://saferx.online/terms
  contact:
    name: SafeRx API Support
    email: support@saferx.online
    url: https://saferx.online
  license:
    name: Proprietary
    url: https://saferx.online/terms

servers:
  - url: https://saferx.online
    description: Production

tags:
  - name: Drug Safety
    description: Unified drug safety screening endpoints

security:
  - SafeRxAPIKey: []

paths:
  /api/drug_safety/check:
    post:
      operationId: checkDrugSafety
      x-fern-sdk-group-name: drugSafety
      x-fern-sdk-method-name: check
      summary: Check drug safety
      description: |
        Screen one or more drugs across seven safety domains in a single request.

        The API resolves drug names via fuzzy matching, runs all requested safety
        checks in parallel, and returns a unified response with alerts bubbled to
        the top for easy triage.

        This endpoint is API-key only. It does not require `X-SafeRx-Token`.

        **Typical response time:** ~40ms (warm cache, 3 drugs, all domains).
      tags:
        - Drug Safety
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrugSafetyCheckRequest'
            examples:
              basic:
                summary: Basic 3-drug check
                value:
                  drugs:
                    - "Augmentin 1g"
                    - "Glucophage 500mg"
                    - "Marivan"
                  lang: "en"
              with_patient_profile:
                summary: Personalized check with patient profile
                value:
                  drugs:
                    - "Augmentin 1g"
                    - "Glucophage 500mg"
                    - "Marivan"
                  patient_profile:
                    populations:
                      - "geriatric"
                      - "renal"
                    conditions:
                      - "diabetes"
                      - "hypertension"
                    allergies:
                      - "penicillin"
                  include:
                    - "ae"
                    - "ddi"
                    - "pllr"
                    - "food"
                    - "clinical"
                    - "dose"
                    - "allergy"
                  lang: "en"
              with_intelligence_context:
                summary: Medication intelligence check with longitudinal context
                value:
                  drugs:
                    - "Augmentin 1g"
                    - "Marivan"
                  intelligence_context:
                    user_id: "patient-123"
                    clinical_profile:
                      age: 72
                      crcl: 38
                      hepatic_status: "normal"
                      pregnancy: false
                      lactation: false
                      conditions:
                        - "renal impairment"
                        - "hypertension"
                      populations:
                        - "geriatric"
                        - "renal"
                      allergies:
                        - "penicillin"
                      diet_habits:
                        - "low_sodium"
                    medication_history:
                      - sfrx_id: "SRX-010-004748"
                        start_date: "2026-01-10"
                        status: "active"
                      - sfrx_id: "SRX-050-000123"
                        start_date: "2025-09-01"
                        status: "historical"
                  include:
                    - "ae"
                    - "ddi"
                    - "pllr"
                    - "food"
                    - "clinical"
                    - "dose"
                    - "allergy"
                  lang: "en"
              selective_domains:
                summary: DDI-only check (fastest)
                value:
                  drugs:
                    - "Augmentin 1g"
                    - "Marivan"
                  include:
                    - "ddi"
              arabic:
                summary: Arabic language response
                value:
                  drugs:
                    - "Augmentin 1g"
                    - "Glucophage 500mg"
                  lang: "ar"
      responses:
        "200":
          description: Successful safety check
          headers:
            X-SafeRx-API-Version:
              schema:
                type: string
              example: "1.3"
              description: API version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrugSafetyCheckResponse'
              examples:
                success:
                  summary: Successful response with all domains
                  value:
                    status: "success"
                    drugs:
                      - input: "Augmentin 1g"
                        resolved: true
                        sfrx_id: "SRX-010-004748"
                        parent_sfrx_id: null
                        brand_name: "AUGMENTIN 1GM 14 TAB"
                        active_ingredient: "AMOXICILLIN + CLAVULANIC ACID"
                        form: "Oral Tablet"
                        manufacturer_en: "GLAXOSMITHKLINE"
                        therapeutic_class: "Penicillins|Combinations"
                        medical_specialty: "General"
                        supplier_en: ""
                        barcode: ""
                        price_egp: 120.0
                        identity_match:
                          method: "name_strength_prefix"
                          confidence: 0.96
                          matched_field: "name_strength"
                          matched_value: "AUGMENTIN 1GM"
                      - input: "Glucophage 500mg"
                        resolved: true
                        sfrx_id: "SRX-008-002145"
                        parent_sfrx_id: null
                        brand_name: "GLUCOPHAGE 500MG 50 TAB"
                        active_ingredient: "METFORMIN HCL"
                        form: "Oral Tablet"
                        manufacturer_en: "MERCK SERONO"
                        therapeutic_class: "Biguanides|Monocomponent"
                        medical_specialty: "Endocrinology"
                        supplier_en: ""
                        barcode: ""
                        price_egp: 36.0
                      - input: "Marivan"
                        resolved: true
                        sfrx_id: "SRX-012-003336"
                        parent_sfrx_id: null
                        brand_name: "MARIVAN 2MG 30 TAB"
                        active_ingredient: "WARFARIN SODIUM"
                        form: "Oral Tablet"
                        manufacturer_en: "AL-NILE PHARMA"
                        therapeutic_class: "Anticoagulants|Coumarin"
                        medical_specialty: "Hematology"
                        supplier_en: ""
                        barcode: ""
                        price_egp: 18.0
                    unresolved: []
                    safety:
                      side_effects:
                        SRX-012-003336:
                          risk_level: "HIGH"
                          has_black_box_warning: true
                          black_box_warning:
                            warning_text: "WARNING: BLEEDING RISK — Warfarin can cause major or fatal bleeding."
                            warning_text_ar: "تحذير: خطر النزيف — الوارفارين قد يسبب نزيفاً خطيراً أو مميتاً."
                            categories:
                              - "DEATH_RISK"
                              - "BLEEDING_RISK"
                            has_death_warning: true
                            source: "FDA Black Box Warning"
                          total_count: 85
                          severe_total: 35
                          severe:
                            - effect_name: "Hemorrhage"
                              name_ar: "نزيف"
                              frequency: 0.05
                              frequency_label: "Common"
                              frequency_category: 2
                              severity: 5
                              severity_category: "life_threatening"
                              source: "clinical_validation_2026"
                          common:
                            - effect_name: "Bruising"
                              name_ar: "كدمات"
                              severity: 2
                              frequency: 0.3
                              frequency_detail:
                                category: "common"
                                label: "Common (1-10%)"
                                value: 0.3
                              severity_label: "Mild-Moderate"
                              clinical_advice: "Monitor for unusual bruising"
                              requires_monitoring: true
                              urgency: false
                          monitoring:
                            drug: "Warfarin"
                            parameters:
                              - "INR"
                              - "PT"
                              - "Hematocrit"
                            schedule: "INR: weekly during initiation, then monthly"
                            contraindications: []
                            populations:
                              renal:
                                name: "WARFARIN"
                                contraindicated: false
                                requires_egfr_check: true
                                requires_dialysis_check: false
                                severity: 4
                                severity_label: "SEVERE"
                            daily_dose_limit: null
                            has_black_box_warning: true
                            data_sources: []
                          dose_classification:
                            reaction_type: "A"
                            basis: "dose_dependent_class"
                            confidence: "high"
                      interactions:
                        count: 1
                        summary:
                          contraindicated: 0
                          major: 1
                          moderate: 0
                          minor: 0
                        interactions:
                          - sfrx_id_1: "SRX-010-004748"
                            sfrx_id_2: "SRX-012-003336"
                            severity: 3
                            severity_name: "MAJOR"
                            description: "Amoxicillin may increase the anticoagulant activities of Warfarin."
                            description_ar: "قد يزيد الأموكسيسيللين من تأثير الوارفارين المضاد للتجلط."
                            recommendation: "Monitor INR/PT. Watch for signs of bleeding."
                            recommendation_ar: "مراقبة INR/PT. مراقبة علامات النزيف."
                      reproductive_safety:
                        SRX-012-003336:
                          pregnancy_risk_level: 7
                          pregnancy_risk_name: "Absolutely Contraindicated"
                          lactation_risk_level: 4
                          lactation_risk_name: "Likely Unsafe"
                          pregnancy_rationale: "Warfarin is absolutely contraindicated in pregnancy. FDA Category X. Causes warfarin embryopathy."
                          pregnancy_rationale_ar: "الوارفارين ممنوع تماماً أثناء الحمل. تصنيف FDA فئة X. يسبب اعتلال الجنين بالوارفارين."
                          lactation_rationale: "Warfarin is excreted in breast milk. Risk of hemorrhage in the nursing infant."
                          lactation_rationale_ar: "يُفرز الوارفارين في حليب الأم. خطر حدوث نزيف عند الرضيع."
                          pregnancy_warning:
                            has_warning: true
                            text_en: "Warfarin crosses the placenta and can cause fatal hemorrhage in the fetus."
                            text_ar: "يعبر الوارفارين المشيمة ويمكن أن يسبب نزيفاً مميتاً للجنين."
                            categories:
                              - "TERATOGENIC"
                              - "DEATH_RISK"
                          lactation_warning:
                            has_warning: false
                            text_en: null
                            text_ar: null
                            categories: []
                      food:
                        SRX-012-003336:
                          timing:
                            category: "WITH_OR_WITHOUT_FOOD"
                            importance: "PREFERRED"
                            recommendation: "Can be taken with or without food. Take at the same time each day."
                            recommendation_ar: "يمكن تناوله مع أو بدون طعام. تناوله في نفس الوقت يومياً."
                            evidence_level: "FDA_LABEL"
                            severity: 2
                            rationale: ""
                          conflicts:
                            - food: "Vitamin K rich foods"
                              severity: 5
                              interaction_type: "VITAMIN_K_ANTAGONISM"
                              recommendation: "Maintain consistent vitamin K intake"
                          conflict_count: 8
                      clinical:
                        drug_specific:
                          SRX-012-003336:
                            conditions:
                              diabetes:
                                name: "WARFARIN"
                                severity: 3
                                severity_name: "CAUTION"
                                reason: "Diabetes may alter warfarin metabolism"
                                source: "SafeRx"
                        condition_alerts: []
                        population_alerts: []
                        context_applied:
                          conditions:
                            - "diabetes"
                          populations:
                            - "renal"
                          requested_populations: []
                          inferred_populations:
                            - "renal"
                      dosing:
                        SRX-008-002145:
                          tier: 1
                          max_units_per_day: 3.0
                          max_ml_per_day: null
                          unit_label: "tablets"
                          flagged: false
                          skip_reason: null
                          caveat: null
                          reference_dose:
                            value: 2.0
                            unit: "g"
                            units_per_ddd: 4.0
                          daily_limit:
                            value_mg: 2550.0
                            confidence: "high"
                            route: "oral"
                          components: null
                          source: "dual_source"
                      allergy:
                        mode: "patient_profile"
                        warnings:
                          - sfrx_id: "SRX-010-004748"
                            drug_name: "AUGMENTIN 1GM 14 TAB"
                            generic_en: "AMOXICILLIN + CLAVULANIC ACID"
                            dosage_form_en: "Oral Tablet"
                            warning_type: "direct"
                            allergen_family: "penicillin"
                            allergen_family_name_en: "Penicillins"
                            patient_allergy: "penicillin"
                            patient_allergy_raw_input: "penicillin"
                            severity: 5
                            severity_label: "CONTRAINDICATED"
                            clinical_note_en: "Direct allergy family match. Contraindicated unless allergy status is verified."
                        summary:
                          check_mode: "stateless"
                          products_checked: 3
                          patient_allergies_count: 1
                          resolved_patient_allergies_count: 1
                          direct_warnings: 1
                          cross_reactivity_warnings: 0
                          total_warnings: 1
                          contraindicated_count: 1
                        product_families:
                          SRX-010-004748:
                            tradename_en: "AUGMENTIN 1GM 14 TAB"
                            generic_en: "AMOXICILLIN + CLAVULANIC ACID"
                            dosage_form_en: "Oral Tablet"
                            has_allergy_data: true
                            families:
                              - family_id: "penicillin"
                                name_en: "Penicillins"
                                clinical_significance: "HIGH"
                                cross_reactivity:
                                  - target_family: "cephalosporin"
                                    target_family_name_en: "Cephalosporins"
                                    severity: 3
                                    severity_label: "CAUTION"
                        needs_review_entries: []
                        unresolved_entries: []
                        missing_products: []
                    alerts:
                      - severity: "CRITICAL"
                        type: "allergy_direct"
                        message: "Allergy warning: AUGMENTIN 1GM 14 TAB matches Penicillins"
                        drugs_involved:
                          - "AUGMENTIN 1GM 14 TAB"
                      - severity: "CRITICAL"
                        type: "ae_bbw"
                        message: "Black Box Warning for MARIVAN 2MG 30 TAB"
                        drugs_involved:
                          - "MARIVAN 2MG 30 TAB"
                      - severity: "CRITICAL"
                        type: "pllr_pregnancy"
                        message: "Pregnancy: Absolutely Contraindicated — MARIVAN 2MG 30 TAB"
                        drugs_involved:
                          - "MARIVAN 2MG 30 TAB"
                      - severity: "HIGH"
                        type: "ddi"
                        message: "Major interaction: AUGMENTIN 1GM 14 TAB + MARIVAN 2MG 30 TAB — Amoxicillin may increase the anticoagulant activities of Warfarin."
                        drugs_involved:
                          - "AUGMENTIN 1GM 14 TAB"
                          - "MARIVAN 2MG 30 TAB"
                    meta:
                      processing_time_ms: 41.4
                      domains_checked:
                        - "ae"
                        - "ddi"
                        - "pllr"
                        - "food"
                        - "clinical"
                        - "dose"
                        - "allergy"
                      drug_count: 3
                      resolved_count: 3
                      unresolved_count: 0
                      tier: "free"
                      quota:
                        monthly_limit: 100
                        monthly_used: 12
                        monthly_remaining: 88
                        reset_at: "2026-07-01T00:00:00+00:00"
                        billable_units: 1
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_drugs:
                  summary: Missing drugs field
                  value:
                    error: true
                    code: "MISSING_FIELD"
                    message: "drugs is required and must be a non-empty list"
                    status: 400
                invalid_json:
                  summary: Malformed JSON body
                  value:
                    error: true
                    code: "INVALID_JSON"
                    message: "Invalid JSON body"
                    status: 400
                too_many_drugs:
                  summary: Exceeded max drugs per request
                  value:
                    error: "Maximum 20 drugs allowed per request"
                    tier: "free"
                    your_count: 25
                    hint: "Upgrade to Enterprise for up to 50 drugs/request. Contact support@saferx.online"
                    support: "support@saferx.online"
                invalid_include:
                  summary: Invalid include domain
                  value:
                    error: true
                    code: "INVALID_INCLUDE_DOMAIN"
                    message: "Unknown safety domain(s): typo"
                    invalid_domains:
                      - "typo"
                    valid_domains:
                      - "ae"
                      - "ddi"
                      - "pllr"
                      - "food"
                      - "clinical"
                      - "dose"
                      - "allergy"
                    status: 400
        "401":
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_token:
                  summary: Invalid or expired token
                  value:
                    error: true
                    code: "INVALID_TOKEN"
                    message: "Token expired or invalid"
                    status: 401
                invalid_api_key:
                  summary: Invalid API key
                  value:
                    error: "Invalid API key"
                    support: "support@saferx.online"
        "403":
          description: Access denied (suspicious activity block)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockedResponse'
              examples:
                blocked:
                  summary: Temporarily blocked
                  value:
                    error: "Access denied"
                    reason: "suspicious_activity"
                    message: "Your access has been temporarily suspended due to unusual request patterns."
                    support: "support@saferx.online"
        "429":
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
              examples:
                per_minute:
                  summary: Per-minute limit exceeded
                  value:
                    error: "Rate limit exceeded"
                    limit_per_minute: 20
                    requests_this_minute: 21
                    tier: "free"
                    hint: "Upgrade to Pro for higher limits. Contact support@saferx.online"
                    support: "support@saferx.online"
                monthly_quota:
                  summary: Monthly quota exceeded
                  value:
                    error: "Monthly quota exceeded"
                    reason: "monthly_quota_exceeded"
                    monthly_limit: 100
                    requests_this_month: 100
                    monthly_remaining: 0
                    reset_at: "2026-07-01T00:00:00+00:00"
                    tier: "free"
                    hint: "Contact support@saferx.online to increase your pilot quota."
                    support: "support@saferx.online"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal:
                  summary: Internal server error
                  value:
                    error: true
                    code: "INTERNAL_ERROR"
                    message: "An internal error occurred"
                    status: 500

  /api/drug_safety/metadata:
    get:
      operationId: getDrugSafetyMetadata
      x-fern-sdk-group-name: drugSafety
      x-fern-sdk-method-name: getMetadata
      summary: Get API metadata
      description: |
        Returns available populations, conditions, database versions, risk level
        scales, and current tier limits.

        Use this endpoint to:
        - Populate dropdown menus with valid population and condition values
        - Check database versions and coverage statistics
        - Verify your tier and rate limits
        - Cache metadata locally (changes infrequently — safe to cache for 24 hours)
      tags:
        - Drug Safety
      responses:
        "200":
          description: Metadata response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
              examples:
                success:
                  summary: Full metadata response
                  value:
                    status: "success"
                    max_drugs_per_request: 20
                    available_domains:
                      - "ae"
                      - "ddi"
                      - "pllr"
                      - "food"
                      - "clinical"
                      - "dose"
                      - "allergy"
                    patient_profile_options:
                      populations:
                        - "pediatric"
                        - "geriatric"
                        - "cardiac"
                        - "hepatic"
                        - "renal"
                      conditions:
                        - "arrhythmia"
                        - "asthma"
                        - "bph"
                        - "coronary"
                        - "depression"
                        - "diabetes"
                        - "epilepsy"
                        - "gi_bleeding"
                        - "glaucoma"
                        - "heart_failure"
                        - "hypertension"
                        - "hyperthyroidism"
                        - "hypothyroidism"
                        - "parkinsons"
                    risk_scales:
                      pllr_pregnancy:
                        "0": "Unknown"
                        "1": "Safe"
                        "2": "Likely Safe"
                        "3": "Possibly Unsafe"
                        "4": "Likely Unsafe"
                        "5": "Unsafe"
                        "6": "Contraindicated"
                        "7": "Absolutely Contraindicated"
                      pllr_lactation:
                        "0": "Unknown"
                        "1": "Safe"
                        "2": "Likely Safe"
                        "3": "Possibly Unsafe"
                        "4": "Likely Unsafe"
                        "5": "Unsafe"
                        "6": "Contraindicated"
                        "7": "Absolutely Contraindicated"
                      ae_risk_levels:
                        - "LOW"
                        - "MODERATE"
                        - "HIGH"
                      ddi_severity:
                        "0": "Unknown"
                        "1": "Minor"
                        "2": "Moderate"
                        "3": "Major"
                        "4": "Contraindicated"
                      allergy_severity:
                        "1": "Minimal"
                        "2": "Minor"
                        "3": "Moderate"
                        "4": "Severe"
                        "5": "Contraindicated"
                    database_versions:
                      ae: "V19"
                      ddi: "V8"
                      clinical: "7.3.1"
                      pllr: "V2.3"
                      food: "V5"
                      clinical_dose: "V3.2"
                      allergy: "V2"
                    database_stats:
                      ae_products: 66704
                      ae_coverage_percent: 98.2
                      ddi_total_pairs: 337000
                      clinical_conditions: 14
                      clinical_populations: 5
                      clinical_dose_products: 19341
                      clinical_dose_schema_version: "3.2"
                      allergy_products: 66704
                      allergy_families: 120
                      allergy_cross_reaction_pairs: 350
                    supported_languages:
                      - "en"
                      - "ar"
                    tier: "free"
        "401":
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_token:
                  summary: Invalid or expired token
                  value:
                    error: true
                    code: "INVALID_TOKEN"
                    message: "Token expired or invalid"
                    status: 401
                invalid_api_key:
                  summary: Invalid API key
                  value:
                    error: "Invalid API key"
                    support: "support@saferx.online"
        "429":
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
              examples:
                per_minute:
                  summary: Per-minute limit exceeded
                  value:
                    error: "Rate limit exceeded"
                    limit_per_minute: 20
                    requests_this_minute: 21
                    tier: "free"
                    hint: "Upgrade to Pro for higher limits. Contact support@saferx.online"
                    support: "support@saferx.online"

  /api/drug_safety/health:
    get:
      operationId: getDrugSafetyHealth
      summary: Health check
      description: |
        Returns minimal health status of the Drug Safety API subsystem.

        No authentication required. Designed for monitoring services.
        The public enterprise health endpoint intentionally does not expose
        database counts, module internals, or detailed dependency checks.
      tags:
        - Drug Safety
      security: []
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["healthy", "degraded"]
                  subsystem:
                    type: string
                    example: "drug_safety"
                  checks:
                    type: object
                    description: Always empty on the public health endpoint.
                    additionalProperties: false
                  latency_ms:
                    type: number
                    example: 12.3
              examples:
                healthy:
                  summary: All systems healthy
                  value:
                    status: "healthy"
                    subsystem: "drug_safety"
                    checks: {}
                    latency_ms: 12.3

  /api/developers/keys/free:
    post:
      operationId: createFreeApiKey
      x-fern-sdk-group-name: developers
      x-fern-sdk-method-name: createFreeKey
      summary: Request free API key verification code
      description: |
        Step 1 of 2: Request a verification code to get a free API key.

        - Sends a 6-digit code to your email (expires in 30 minutes)
        - Max 5 codes per email per hour (anti-spam)
        - If email already has a verified key, returns it immediately
        - Use POST /api/developers/keys/free/verify with the code to receive your key
      tags:
        - Developers
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Your email address
                  example: "developer@example.com"
      responses:
        "200":
          description: Verification code sent or existing key returned
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: New user - code sent
                    properties:
                      message:
                        type: string
                        example: "Verification code sent to your email"
                      email:
                        type: string
                        example: "developer@example.com"
                  - type: object
                    description: Existing verified user - key returned
                    properties:
                      api_key:
                        type: string
                        example: "sfx_free_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
                      tier:
                        type: string
                        example: "free"
                      limits:
                        type: object
                        properties:
                          requests_per_minute:
                            type: integer
                            example: 20
                          requests_per_day:
                            type: integer
                            example: 60
                      note:
                        type: string
                        example: "Existing key returned (1 key per email)"
        "429":
          description: Too many verification requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Too many verification requests. Please try again later."
        "500":
          description: Failed to send verification email
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Failed to send verification email"

  /api/developers/keys/free/verify:
    post:
      operationId: verifyFreeApiKey
      x-fern-sdk-group-name: developers
      x-fern-sdk-method-name: verifyFreeKey
      summary: Verify email and receive free API key
      description: |
        Step 2 of 2: Verify your email with the 6-digit code and receive your API key.

        - Code expires after 30 minutes
        - Max 5 wrong attempts per code (then must request new code)
        - On success: issues sfx_free_ key (persistent, 1 per email)
        - Free tier: 100 checks/month, 20 requests/minute anti-abuse, 60/day safety cap
      tags:
        - Developers
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                  description: The email you used in step 1
                  example: "developer@example.com"
                code:
                  type: string
                  pattern: '^\d{6}$'
                  description: 6-digit verification code from email
                  example: "123456"
      responses:
        "200":
          description: Email verified, API key issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    description: Your persistent free-tier API key
                    example: "sfx_free_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
                  tier:
                    type: string
                    example: "free"
                  limits:
                    type: object
                    properties:
                      requests_per_minute:
                        type: integer
                        example: 20
                      requests_per_day:
                        type: integer
                        example: 60
        "400":
          description: Invalid code or no pending verification
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid verification code"
        "403":
          description: Key deactivated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  support:
                    type: string
                    example: "support@saferx.online"

components:
  securitySchemes:
    SafeRxAPIKey:
      type: apiKey
      in: header
      name: X-SafeRx-API-Key
      description: |
        API key for the unified drug safety API. Required for `/api/drug_safety/check` and `/api/drug_safety/metadata`.

        | Prefix | Tier | How to get |
        |--------|------|------------|
        | `sfx_free_` | Free (100 checks/month, 20 rpm anti-abuse) | `POST /api/developers/keys/free` → verify email → `POST /api/developers/keys/free/verify` |
        | `sk_test_` | Free (100 checks/month, 20 rpm anti-abuse) | Developer Portal |
        | `sk_startup_` | Startup (100 checks/month, 20 rpm anti-abuse) | Developer-group promo after email verification |
        | `sk_live_` | Pro/Enterprise (15,000+ checks/month, 60-200 rpm) | Contact support |

  schemas:
    # =========================================================================
    # Request Schemas
    # =========================================================================

    DrugSafetyCheckRequest:
      type: object
      required:
        - drugs
      properties:
        drugs:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 50
          description: |
            Drug names to screen. Accepts trade names (e.g., "Augmentin 1g"),
            generic names (e.g., "amoxicillin"), or partial matches.
            Fuzzy matching resolves names to SafeRx product IDs.

            - **Free/Pro tier:** max 20 drugs per request
            - **Enterprise tier:** max 50 drugs per request
          example:
            - "Augmentin 1g"
            - "Glucophage 500mg"
            - "Marivan"
        patient_profile:
          $ref: '#/components/schemas/PatientProfile'
        intelligence_context:
          $ref: '#/components/schemas/IntelligenceContext'
        include:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DomainCode'
          description: |
            Safety domains to check. Omit or pass `null` to run all seven domains.
            When provided, `include` must be a non-empty array of valid lowercase
            domain codes. Unknown domain codes return `400 INVALID_INCLUDE_DOMAIN`.
            Duplicate valid domains are accepted and de-duplicated.
          example:
            - "ae"
            - "ddi"
            - "pllr"
        lang:
          type: string
          enum:
            - "en"
            - "ar"
          default: "en"
          description: |
            Response language. Controls bilingual fields such as rationale text,
            drug name translations, and clinical advice.

    PatientProfile:
      type: object
      description: |
        Patient context for personalized safety screening. When provided,
        the `clinical` domain returns population-specific warnings and
        condition-drug interaction alerts tailored to this patient.
      properties:
        populations:
          type: array
          items:
            $ref: '#/components/schemas/Population'
          description: Patient populations (e.g., geriatric, renal impairment)
          example:
            - "geriatric"
            - "renal"
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: Patient comorbidities (e.g., diabetes, hypertension)
          example:
            - "diabetes"
            - "hypertension"
        allergies:
          type: array
          maxItems: 50
          items:
            type: string
          description: Known patient allergies for the `allergy` domain.
          example:
            - "penicillin"
        age:
          type: integer
          minimum: 0
          maximum: 150
          description: Patient age in years. Used to infer pediatric or geriatric clinical-dose context.
          example: 72
        weight_kg:
          type: number
          format: float
          minimum: 0
          description: Patient weight in kilograms. Used for pediatric weight-based dose context when available.
          example: 70
        crcl:
          type: number
          format: float
          minimum: 0
          description: Creatinine clearance in mL/min. Supplying this infers the `renal` population and returns matched renal dose-adjustment context when available.
          example: 25
        egfr:
          type: number
          format: float
          minimum: 0
          description: eGFR value accepted as a fallback renal-function input when `crcl` is not supplied.
          example: 32
        child_pugh:
          type: string
          enum: ["A", "B", "C"]
          description: Child-Pugh class. Supplying this infers the `hepatic` population and returns matched hepatic dose-adjustment context when available.
          example: "B"
        hepatic_status:
          type: string
          enum: ["normal", "mild", "moderate", "severe"]
          description: Hepatic impairment severity. `mild`, `moderate`, and `severe` map to hepatic clinical-dose context when `child_pugh` is not supplied.
          example: "moderate"

    Population:
      type: string
      enum:
        - "pediatric"
        - "geriatric"
        - "cardiac"
        - "hepatic"
        - "renal"
      description: |
        Special patient population.
        - `pediatric` — children and adolescents
        - `geriatric` — elderly patients (65+)
        - `cardiac` — patients with cardiac conditions
        - `hepatic` — patients with liver impairment
        - `renal` — patients with kidney impairment

    Condition:
      type: string
      enum:
        - "arrhythmia"
        - "asthma"
        - "bph"
        - "coronary"
        - "depression"
        - "diabetes"
        - "epilepsy"
        - "gi_bleeding"
        - "glaucoma"
        - "heart_failure"
        - "hypertension"
        - "hyperthyroidism"
        - "hypothyroidism"
        - "parkinsons"
      description: |
        Patient comorbidity. Used by the `clinical` domain to identify
        drugs that are contraindicated or require caution for patients
        with these conditions.

    DomainCode:
      type: string
      enum:
        - "ae"
        - "ddi"
        - "pllr"
        - "food"
        - "clinical"
        - "dose"
        - "allergy"
      description: |
        Safety domain identifier.
        - `ae` — Adverse effects, Black Box Warnings, monitoring parameters
        - `ddi` — Drug-drug interactions (requires 2+ drugs)
        - `pllr` — Pregnancy & lactation risk ratings
        - `food` — Meal timing & food-drug conflicts
        - `clinical` — Population & condition safety. Without patient context, returns product-wide clinical signals; with `patient_profile`, alerts are narrowed to supplied populations and conditions.
        - `dose` — Dose limits and daily-dose references from the unified dosing data path
        - `allergy` — Patient allergy matching plus direct and cross-reactivity warnings

    IntelligenceContext:
      type: object
      description: |
        Optional Medication Intelligence Platform context. When present and the
        intelligence layer is enabled, SafeRx adds a top-level `intelligence`
        block without changing the standard safety response.
      properties:
        user_id:
          type: string
          description: Optional caller-side patient or profile identifier.
          example: "patient-123"
        clinical_profile:
          $ref: '#/components/schemas/IntelligenceClinicalProfile'
        medication_history:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/MedicationHistoryItem'
          description: |
            Longitudinal medication list used for active-medication cumulative
            dose tracking. Items with `status: historical` are retained as
            context but excluded from active overdose aggregation.

    IntelligenceClinicalProfile:
      type: object
      description: Patient profile fields used by intelligence processors.
      properties:
        age:
          type: integer
          minimum: 0
          maximum: 150
          example: 72
        crcl:
          type: number
          minimum: 0
          description: Creatinine clearance in mL/min.
          example: 38
        hepatic_status:
          type: string
          enum:
            - "normal"
            - "mild"
            - "moderate"
            - "severe"
          example: "normal"
        pregnancy:
          type: boolean
          example: false
        lactation:
          type: boolean
          example: false
        conditions:
          type: array
          maxItems: 50
          items:
            type: string
          example:
            - "renal impairment"
            - "hypertension"
        populations:
          type: array
          maxItems: 10
          items:
            type: string
          example:
            - "geriatric"
            - "renal"
        allergies:
          type: array
          maxItems: 50
          items:
            type: string
          example:
            - "penicillin"
        diet_habits:
          type: array
          maxItems: 50
          items:
            type: string
          example:
            - "low_sodium"

    MedicationHistoryItem:
      type: object
      required:
        - sfrx_id
      properties:
        sfrx_id:
          type: string
          description: SafeRx product identifier.
          example: "SRX-010-004748"
        start_date:
          type: string
          description: Caller-provided start date, preferably ISO 8601.
          example: "2026-01-10"
        status:
          type: string
          enum:
            - "active"
            - "historical"
          description: |
            Active medications participate in cumulative dose checks.
            Historical medications are retained as context only.
          example: "active"

    # =========================================================================
    # Response Schemas
    # =========================================================================

    DrugSafetyCheckResponse:
      type: object
      required:
        - status
        - drugs
        - unresolved
        - safety
        - alerts
        - meta
      properties:
        status:
          type: string
          enum:
            - "success"
          description: Always `"success"` for 200 responses
        drugs:
          type: array
          items:
            $ref: '#/components/schemas/ResolvedDrug'
          description: Successfully resolved drugs with full product details
        unresolved:
          type: array
          items:
            type: string
          description: |
            Drug names that could not be resolved to a SafeRx product.
            These are not errors — they simply did not match any product
            with sufficient confidence.
          example:
            - "tylenol extra"
        safety:
          $ref: '#/components/schemas/SafetyData'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
          description: |
            High-severity safety issues bubbled up from all domains, sorted
            by severity (CRITICAL first). Use this array for quick triage —
            it contains the most actionable items from the full safety data.
        meta:
          $ref: '#/components/schemas/Meta'
        intelligence:
          $ref: '#/components/schemas/IntelligenceResult'

    ResolvedDrug:
      type: object
      required:
        - input
        - resolved
        - sfrx_id
        - brand_name
        - active_ingredient
        - form
      properties:
        input:
          type: string
          description: The original drug name as submitted in the request
          example: "Augmentin 1g"
        resolved:
          type: boolean
          description: Always `true` for drugs in this array
          example: true
        sfrx_id:
          type: string
          description: |
            SafeRx product identifier. Primary key used across all safety
            domains. Format: `SRX-{category}-{sequence}`.
          example: "SRX-010-004748"
        parent_sfrx_id:
          type: string
          nullable: true
          description: |
            Parent product identifier for strength/pack variants of the same drug.
            Null if this product has no parent.
          example: null
        brand_name:
          type: string
          description: Registered trade name with strength and pack size
          example: "AUGMENTIN 1GM 14 TAB"
        brand_name_ar:
          type: string
          description: Arabic trade name
          example: "أوجمنتين 1 جم 14 قرص"
        display_name:
          type: string
          description: Concise registered name plus strength, useful for app display and local matching.
          example: "AUGMENTIN 1GM"
        display_name_ar:
          type: string
          description: Arabic concise registered name plus strength, when available.
          example: "أوجمنتين 1 جم"
        active_ingredient:
          type: string
          description: Active pharmaceutical ingredient(s), pipe-separated for combinations
          example: "AMOXICILLIN + CLAVULANIC ACID"
        active_ingredient_ar:
          type: string
          description: Arabic active ingredient name
          example: "أموكسيسيلين + حمض كلافولانيك"
        generic_name:
          type: string
          description: Short generic drug name
          example: "AUGMENTIN"
        generic_name_ar:
          type: string
          description: Arabic generic drug name
          example: "أوجمنتين"
        form:
          type: string
          description: Pharmaceutical dosage form
          example: "Oral Tablet"
        form_ar:
          type: string
          description: Arabic dosage form
          example: "أقراص فموية"
        strength:
          type: string
          description: Registered strength text as listed for the product.
          example: "1 GM"
        route:
          type: string
          description: Administration route, when available.
          example: "oral"
        manufacturer_en:
          type: string
          description: Marketing authorization holder
          example: "GLAXOSMITHKLINE"
        therapeutic_class:
          type: string
          description: ATC-based therapeutic classification, pipe-separated hierarchy
          example: "Penicillins|Combinations"
        therapeutic_class_detail:
          type: string
          description: Public therapeutic/pharmacology summary in English.
          example: "Beta-lactam antibacterial combination"
        therapeutic_class_detail_ar:
          type: string
          description: Public therapeutic/pharmacology summary in Arabic, when available.
          example: "مضاد حيوي من عائلة بيتا لاكتام"
        pharma_uses:
          type: string
          description: Registered pharmaceutical uses or indications in English, when available.
          example: "Bacterial infections susceptible to amoxicillin/clavulanate."
        pharma_uses_ar:
          type: string
          description: Registered pharmaceutical uses or indications in Arabic, when available.
          example: "عدوى بكتيرية حساسة للأموكسيسيلين/كلافولانات."
        description:
          type: string
          description: Patient/app-friendly product description in English, when available.
          example: "Amoxicillin/clavulanate antibacterial product."
        description_ar:
          type: string
          description: Patient/app-friendly product description in Arabic, when available.
          example: "مستحضر أموكسيسيلين/كلافولانات مضاد للبكتيريا."
        mechanism:
          type: string
          description: Mechanism of action summary in English, when available.
          example: "Inhibits bacterial cell wall synthesis."
        warnings:
          type: string
          description: Public warning summary in English, when available.
          example: "Review allergy history before dispensing beta-lactam antibiotics."
        medical_specialty:
          type: string
          description: Primary prescribing specialty
          example: "General"
        supplier_en:
          type: string
          description: Distribution/supply company (may be empty)
          example: ""
        barcode:
          type: string
          description: Product barcode (may be empty)
          example: ""
        price_egp:
          type: number
          format: float
          description: Current price in Egyptian Pounds (EGP)
          example: 120.0
        identity_match:
          $ref: '#/components/schemas/IdentityMatch'

    IdentityMatch:
      type: object
      description: Non-sensitive drug identity resolution metadata for auditability.
      properties:
        method:
          type: string
          description: Resolver path that produced the match.
          example: "name_strength_prefix"
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Match confidence score.
          example: 0.96
        matched_field:
          type: string
          description: Public drug field used for the match.
          example: "name_strength"
        matched_value:
          type: string
          description: Public-safe value that matched the input.
          example: "AUGMENTIN 1GM"

    # =========================================================================
    # Safety Domain Schemas
    # =========================================================================

    SafetyData:
      type: object
      description: |
        Safety screening results organized by domain. Each domain key maps
        to domain-specific data. Domains not requested via `include` will
        be absent from this object.
      properties:
        side_effects:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SideEffectsData'
          description: |
            Adverse effects data keyed by sfrx_id. Includes risk level,
            Black Box Warnings, severe/common effects, monitoring, and
            dose classification.
        interactions:
          $ref: '#/components/schemas/InteractionsData'
        reproductive_safety:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ReproductiveSafetyData'
          description: Pregnancy & lactation risk data keyed by sfrx_id
        food:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FoodData'
          description: Food-drug interaction data keyed by sfrx_id
        clinical:
          $ref: '#/components/schemas/ClinicalData'
        dosing:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DosingData'
          description: Maximum daily dose data keyed by sfrx_id
        allergy:
          $ref: '#/components/schemas/AllergyData'

    IntelligenceResult:
      type: object
      description: Optional Medication Intelligence Platform post-processing output.
      properties:
        status:
          type: string
          example: "active"
        cumulative_warnings:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Active-medication cumulative dose warnings.
        synthesis:
          $ref: '#/components/schemas/IntelligenceSynthesis'
        safer_alternatives:
          type: object
          additionalProperties: true
          description: Allergy/profile-filtered alternative candidates keyed by source `sfrx_id`.
        processor_errors:
          type: array
          items:
            $ref: '#/components/schemas/IntelligenceProcessorError'
          description: Best-effort processor errors; standard safety output remains valid.
        error:
          type: string
          description: Top-level degradation reason when the whole intelligence layer fails.

    IntelligenceSynthesis:
      type: object
      properties:
        cross_domain_findings:
          type: array
          items:
            type: object
            additionalProperties: true
        summary:
          type: string
          example: "High-priority reproductive safety finding suppresses lower-level AE noise."
        predictive_ae:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Condition-specific adverse effects elevated for the supplied context.

    IntelligenceProcessorError:
      type: object
      properties:
        processor:
          type: string
          example: "predictive_ae"
        error:
          type: string
          example: "Processor failed gracefully"

    # --- Side Effects (ae) ---

    SideEffectsData:
      type: object
      properties:
        risk_level:
          type: string
          enum:
            - "LOW"
            - "MODERATE"
            - "HIGH"
          description: |
            Overall adverse effect risk level.
            - `HIGH` — has a Black Box Warning
            - `MODERATE` — more than 5 severe effects
            - `LOW` — 5 or fewer severe effects, no BBW
          example: "HIGH"
        has_black_box_warning:
          type: boolean
          description: Whether this drug has an FDA Black Box Warning
          example: true
        black_box_warning:
          oneOf:
            - $ref: '#/components/schemas/BlackBoxWarning'
            - type: "null"
          description: Black Box Warning details, or null if none exists
        total_count:
          type: integer
          description: Total number of known adverse effects
          example: 85
        severe_total:
          type: integer
          description: Number of severe adverse effects
          example: 35
        severe:
          type: array
          items:
            $ref: '#/components/schemas/AdverseEffect'
          description: Top 5 most severe adverse effects
        common:
          type: array
          items:
            $ref: '#/components/schemas/AdverseEffect'
          description: Top 5 most common adverse effects
        monitoring:
          $ref: '#/components/schemas/Monitoring'
        dose_classification:
          $ref: '#/components/schemas/DoseClassification'

    BlackBoxWarning:
      type: object
      properties:
        warning_text:
          type: string
          description: Full BBW text in English
          example: "WARNING: BLEEDING RISK — Warfarin can cause major or fatal bleeding."
        warning_text_ar:
          type: string
          description: Full BBW text in Arabic
          example: "تحذير: خطر النزيف — الوارفارين قد يسبب نزيفاً خطيراً أو مميتاً."
        categories:
          type: array
          items:
            type: string
          description: |
            BBW category tags (e.g., DEATH_RISK, BLEEDING_RISK, CARDIAC_RISK,
            HEPATOTOXICITY, SUICIDALITY, TERATOGENIC)
          example:
            - "DEATH_RISK"
            - "BLEEDING_RISK"
        has_death_warning:
          type: boolean
          description: Whether this BBW includes a mortality risk
          example: true
        source:
          type: string
          description: Source of the BBW data
          example: "FDA Black Box Warning"

    AdverseEffect:
      type: object
      properties:
        effect_name:
          type: string
          description: Adverse effect name in English
          example: "Hemorrhage"
        name_ar:
          type: string
          description: Effect name in Arabic
          example: "نزيف"
        frequency:
          type: number
          format: float
          description: Frequency as a decimal (0.0 to 1.0)
          example: 0.05
        frequency_label:
          type: string
          description: Human-readable frequency tier
          example: "Common"
        frequency_category:
          type: integer
          description: Numeric frequency tier (1=very rare, 5=very common)
          example: 2
        frequency_detail:
          type: object
          description: Detailed frequency breakdown
          properties:
            category:
              type: string
              example: "common"
            label:
              type: string
              example: "Common (1-10%)"
            value:
              type: number
              format: float
              example: 0.05
        severity:
          type: integer
          description: Severity score (1=mild, 5=life-threatening)
          example: 5
        severity_label:
          type: string
          description: Human-readable severity label
          example: "Life-Threatening"
        severity_category:
          type: string
          description: |
            Severity category name (mild, moderate, serious,
            severe, life_threatening)
          example: "life_threatening"
        source:
          type: string
          description: Data source for this effect
          example: "clinical_validation_2026"
        clinical_advice:
          type: string
          description: Brief clinical guidance
          example: "Monitor for unusual bruising"
        requires_monitoring:
          type: boolean
          description: Whether monitoring is recommended
          example: true
        urgency:
          type: boolean
          description: Whether this effect requires urgent attention
          example: false
        basis:
          type: string
          description: Classification basis for this effect
          example: "dose_dependent"

    Monitoring:
      type: object
      description: Recommended monitoring parameters for this drug
      properties:
        drug:
          type: string
          description: Drug name for context
          example: "Warfarin"
        parameters:
          type: array
          items:
            type: string
          description: Lab tests and clinical parameters to monitor
          example:
            - "INR"
            - "PT"
            - "Hematocrit"
        schedule:
          type: string
          description: Recommended monitoring frequency
          example: "INR: weekly during initiation, then monthly"
        contraindications:
          type: array
          items:
            type: string
          description: Contraindication notes
        populations:
          type: object
          description: Population-specific monitoring considerations
          additionalProperties:
            $ref: '#/components/schemas/PopulationMonitoring'
        daily_dose_limit:
          oneOf:
            - $ref: '#/components/schemas/DailyLimit'
            - type: "null"
          description: Maximum daily dose information, if available
        has_black_box_warning:
          type: boolean
          description: Whether this drug has a BBW (duplicated for convenience)
        data_sources:
          type: array
          items:
            type: string
          description: Data sources used for monitoring recommendations

    PopulationMonitoring:
      type: object
      properties:
        name:
          type: string
          description: Drug name
          example: "WARFARIN"
        contraindicated:
          type: boolean
          description: Whether the drug is contraindicated in this population
          example: false
        requires_egfr_check:
          type: boolean
          description: Whether eGFR monitoring is needed (renal population)
          example: true
        requires_dialysis_check:
          type: boolean
          description: Whether dialysis considerations apply (renal population)
          example: false
        liver_function_grades:
          type: object
          description: Child-Pugh grade contraindication status (hepatic population)
          properties:
            A:
              type: boolean
            B:
              type: boolean
            C:
              type: boolean
        severity:
          type: integer
          description: Severity in this population (1-5)
          example: 4
        severity_label:
          type: string
          description: Severity label in this population
          example: "SEVERE"

    DoseClassification:
      type: object
      description: |
        WHO DDD-based dose-response classification.
        Type A reactions are dose-dependent and predictable.
        Type B reactions are idiosyncratic and unpredictable.
      properties:
        reaction_type:
          type: string
          enum:
            - "A"
            - "B"
          description: |
            Primary reaction type.
            - `A` — Dose-dependent (augmented). Predictable from pharmacology.
            - `B` — Idiosyncratic (bizarre). Unpredictable, not dose-related.
          example: "A"
        basis:
          type: string
          description: Classification rationale
          example: "dose_dependent_class"
        has_idiosyncratic:
          type: boolean
          description: Whether any idiosyncratic (Type B) reactions exist
          example: false
        idiosyncratic_effects:
          type: array
          items:
            type: string
          description: List of known idiosyncratic effects
        confidence:
          type: string
          enum:
            - "high"
            - "medium"
            - "low"
          description: Confidence in the classification
          example: "high"

    # --- Drug Interactions (ddi) ---

    InteractionsData:
      type: object
      description: |
        Drug-drug interaction results. Requires 2 or more resolved drugs.
        If only 1 drug is resolved, returns count=0 with empty interactions array.
      properties:
        count:
          type: integer
          description: Total number of interactions found
          example: 1
        summary:
          $ref: '#/components/schemas/InteractionSummary'
        interactions:
          type: array
          items:
            $ref: '#/components/schemas/Interaction'

    InteractionSummary:
      type: object
      description: Interaction count by severity level for quick triage
      properties:
        contraindicated:
          type: integer
          description: Number of contraindicated (severity 4) interactions
          example: 0
        major:
          type: integer
          description: Number of major (severity 3) interactions
          example: 1
        moderate:
          type: integer
          description: Number of moderate (severity 2) interactions
          example: 0
        minor:
          type: integer
          description: Number of minor (severity 1) interactions
          example: 0

    Interaction:
      type: object
      properties:
        sfrx_id_1:
          type: string
          description: sfrx_id of the first drug in the interaction pair
          example: "SRX-010-004748"
        sfrx_id_2:
          type: string
          description: sfrx_id of the second drug in the interaction pair
          example: "SRX-012-003336"
        severity:
          type: integer
          minimum: 1
          maximum: 4
          description: |
            Interaction severity level (clinical interactions only).
            - `1` — Minor: minimal clinical significance
            - `2` — Moderate: may require monitoring or dose adjustment
            - `3` — Major: avoid combination if possible, close monitoring required
            - `4` — Contraindicated: do not use together

            The API filters out noise interactions (severity ≤ 0) by default.
            The internal V8 scale extends to -3 (noise) and 0 (unknown),
            but these are never returned in the public response.
          example: 3
        base_severity:
          type: integer
          minimum: -3
          maximum: 4
          description: |
            Original severity before route-based or noise adjustments.
            Uses the full V8 scale: -3 (decreased efficacy), -2 (pharmacokinetic),
            -1 (metabolic), 0 (unknown), 1-4 (clinical). May differ from
            `severity` when route adjustments apply.
          example: 3
        severity_name:
          type: string
          enum:
            - "MINOR"
            - "MODERATE"
            - "MAJOR"
            - "CONTRAINDICATED"
          description: Human-readable severity label
          example: "MAJOR"
        noise_type:
          type: string
          nullable: true
          description: |
            Noise classification for this interaction, if applicable.
            Null for clinically significant interactions. Possible values:
            `"DECREASED_EFFICACY"`, `"PHARMACOKINETIC"`, `"METABOLIC"`.
          example: null
        description:
          type: string
          description: Interaction mechanism or clinical description (English)
          example: "Amoxicillin may increase the anticoagulant activities of Warfarin."
        description_ar:
          type: string
          description: Interaction description in Arabic
          example: "قد يزيد الأموكسيسيللين من تأثير الوارفارين المضاد للتجلط."
        clinical_effect:
          type: string
          nullable: true
          description: Expected clinical effect of the interaction (English)
          example: "Increased bleeding risk"
        clinical_effect_ar:
          type: string
          nullable: true
          description: Expected clinical effect in Arabic
          example: null
        management:
          type: string
          nullable: true
          description: Clinical management strategy (English)
          example: null
        management_ar:
          type: string
          nullable: true
          description: Clinical management strategy in Arabic
          example: null
        recommendation:
          type: string
          description: Clinical recommendation for managing this interaction (English)
          example: "Monitor INR/PT. Watch for signs of bleeding."
        recommendation_ar:
          type: string
          description: Clinical recommendation in Arabic
          example: "مراقبة INR/PT. مراقبة علامات النزيف."

    # --- Reproductive Safety (pllr) ---

    ReproductiveSafetyData:
      type: object
      description: Pregnancy and lactation safety data for a single drug
      properties:
        pregnancy_risk_level:
          type: integer
          minimum: 0
          maximum: 7
          description: |
            Pregnancy risk score on the SafeRx 0-7 scale.
            - `0` — Unknown
            - `1` — Safe
            - `2` — Likely Safe
            - `3` — Possibly Unsafe
            - `4` — Likely Unsafe
            - `5` — Unsafe
            - `6` — Contraindicated
            - `7` — Absolutely Contraindicated
          example: 7
        pregnancy_risk_name:
          type: string
          description: Human-readable pregnancy risk label
          example: "Absolutely Contraindicated"
        lactation_risk_level:
          type: integer
          minimum: 0
          maximum: 7
          description: Lactation risk score (same 0-7 scale as pregnancy)
          example: 4
        lactation_risk_name:
          type: string
          description: Human-readable lactation risk label
          example: "Likely Unsafe"
        pregnancy_rationale:
          type: string
          description: Clinical rationale for the pregnancy risk rating (English)
          example: "Warfarin is absolutely contraindicated in pregnancy. FDA Category X."
        pregnancy_rationale_ar:
          type: string
          description: Clinical rationale for the pregnancy risk rating (Arabic)
          example: "الوارفارين ممنوع تماماً أثناء الحمل. تصنيف FDA فئة X."
        lactation_rationale:
          type: string
          description: Clinical rationale for the lactation risk rating (English)
          example: "Warfarin is excreted in breast milk."
        lactation_rationale_ar:
          type: string
          description: Clinical rationale for the lactation risk rating (Arabic)
          example: "يُفرز الوارفارين في حليب الأم."
        pregnancy_warning:
          $ref: '#/components/schemas/ReproductiveWarning'
        lactation_warning:
          $ref: '#/components/schemas/ReproductiveWarning'
        preg_t1_risk:
          type: string
          nullable: true
          description: First trimester pregnancy risk classification
          example: "Contraindicated"
        preg_t1_note:
          type: string
          nullable: true
          description: First trimester clinical note
          example: null
        preg_t1_note_ar:
          type: string
          nullable: true
          description: First trimester note in Arabic
          example: null
        preg_t2_risk:
          type: string
          nullable: true
          description: Second trimester pregnancy risk classification
          example: "Contraindicated"
        preg_t2_note:
          type: string
          nullable: true
          description: Second trimester clinical note
          example: null
        preg_t2_note_ar:
          type: string
          nullable: true
          description: Second trimester note in Arabic
          example: null
        preg_t3_risk:
          type: string
          nullable: true
          description: Third trimester pregnancy risk classification
          example: "Absolutely Contraindicated"
        preg_t3_note:
          type: string
          nullable: true
          description: Third trimester clinical note
          example: null
        preg_t3_note_ar:
          type: string
          nullable: true
          description: Third trimester note in Arabic
          example: null
        lact_milk_level_mgl:
          type: number
          format: float
          nullable: true
          description: Measured drug concentration in breast milk (mg/L)
          example: null
        lact_mp_ratio:
          type: number
          format: float
          nullable: true
          description: Milk-to-plasma concentration ratio
          example: null
        lact_rid:
          type: number
          format: float
          nullable: true
          description: Relative Infant Dose (%) — percentage of maternal dose received by infant
          example: null

    ReproductiveWarning:
      type: object
      description: Pregnancy or lactation specific warning (bilingual)
      properties:
        has_warning:
          type: boolean
          description: Whether a specific warning exists
          example: true
        text_en:
          oneOf:
            - type: string
            - type: "null"
          description: Warning text in English
          example: "Warfarin crosses the placenta and can cause fatal hemorrhage in the fetus."
        text_ar:
          oneOf:
            - type: string
            - type: "null"
          description: Warning text in Arabic
          example: "يعبر الوارفارين المشيمة ويمكن أن يسبب نزيفاً مميتاً للجنين."
        categories:
          type: array
          items:
            type: string
          description: Warning categories
          example:
            - "TERATOGENIC"
            - "DEATH_RISK"

    # --- Food Interactions ---

    FoodData:
      type: object
      description: Food-drug interaction data for a single drug
      properties:
        timing:
          $ref: '#/components/schemas/MealTiming'
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/FoodConflict'
          description: Specific food-drug conflicts
        conflict_count:
          type: integer
          description: Total number of food conflicts (may exceed items in `conflicts` array)
          example: 8

    MealTiming:
      type: object
      description: Meal timing recommendation
      properties:
        category:
          type: string
          description: |
            Timing category code.
            Common values: `WITH_FOOD`, `EMPTY_STOMACH`, `WITH_OR_WITHOUT_FOOD`,
            `NO_RESTRICTION`, `BEFORE_MEALS`, `AFTER_MEALS`
          example: "WITH_OR_WITHOUT_FOOD"
        importance:
          type: string
          description: |
            How important is adherence to this timing.
            Values: `MUST`, `PREFERRED`, `OPTIONAL`, `NO_RESTRICTION`
          example: "PREFERRED"
        recommendation:
          type: string
          description: Full recommendation text (English)
          example: "Can be taken with or without food. Take at the same time each day."
        recommendation_ar:
          type: string
          description: Full recommendation text (Arabic)
          example: "يمكن تناوله مع أو بدون طعام. تناوله في نفس الوقت يومياً."
        evidence_level:
          type: string
          description: Evidence source for this recommendation
          example: "FDA_LABEL"
        severity:
          type: integer
          minimum: 1
          maximum: 5
          description: Severity of non-adherence consequences (1-5)
          example: 2
        rationale:
          type: string
          description: Clinical rationale for the timing recommendation
          example: ""

    FoodConflict:
      type: object
      description: A specific food-drug interaction (bilingual)
      properties:
        food:
          type: string
          description: Food item or food category involved
          example: "Vitamin K rich foods"
        food_category:
          type: string
          description: Food category identifier
          example: "VITAMIN_K_FOODS"
        affected_foods:
          type: array
          items:
            type: string
          description: Specific foods affected
          example: ["spinach", "kale", "broccoli"]
        severity:
          type: integer
          minimum: 1
          maximum: 5
          description: Interaction severity (1-5)
          example: 5
        interaction_type:
          type: string
          description: Pharmacological interaction mechanism
          example: "VITAMIN_K_ANTAGONISM"
        brief_en:
          type: string
          description: Patient guidance in English
          example: "Maintain consistent vitamin K intake while taking this medication."
        brief_ar:
          type: string
          description: Patient guidance in Arabic
          example: "حافظ على تناول ثابت لفيتامين ك أثناء تناول هذا الدواء."
        action_required:
          type: string
          description: Required patient action
          example: "MONITOR"

    # --- Clinical Considerations ---

    ClinicalData:
      type: object
      description: |
        Clinical safety considerations combining per-drug population/condition
        data with cross-drug clinical alerts. Without `patient_profile`, the
        API returns product-wide clinical signals; with `patient_profile`, alert
        lists are narrowed to the supplied populations and conditions.
      properties:
        drug_specific:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DrugClinicalData'
          description: Per-drug clinical data keyed by sfrx_id
        condition_alerts:
          type: array
          items:
            $ref: '#/components/schemas/ClinicalAlert'
          description: Condition-related alerts. Narrowed to `patient_profile.conditions` when supplied; otherwise product-wide condition signals may be returned.
        population_alerts:
          type: array
          items:
            $ref: '#/components/schemas/ClinicalAlert'
          description: Population-related alerts. Narrowed to `patient_profile.populations` when supplied; otherwise product-wide population signals may be returned.
        context_applied:
          $ref: '#/components/schemas/ClinicalContextApplied'
          description: Patient context actually applied to clinical-dose matching, including inferred populations from age, renal, or hepatic values.

    ClinicalContextApplied:
      type: object
      properties:
        conditions:
          type: array
          items:
            type: string
          description: Condition keys applied to clinical filtering.
          example: ["diabetes"]
        populations:
          type: array
          items:
            type: string
          description: Population keys applied to clinical filtering after adding inferred populations.
          example: ["renal", "geriatric"]
        requested_populations:
          type: array
          items:
            type: string
          description: Population keys explicitly supplied by the caller.
          example: ["geriatric"]
        inferred_populations:
          type: array
          items:
            type: string
          description: Population keys inferred from patient values such as `crcl`, `child_pugh`, or `age`.
          example: ["renal"]

    DrugClinicalData:
      type: object
      properties:
        populations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ClinicalConcern'
          description: Population-specific data keyed by population name
        conditions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ClinicalConcern'
          description: Condition-specific data keyed by condition name

    ClinicalConcern:
      type: object
      description: Clinical concern for a specific population or condition
      properties:
        name:
          type: string
          description: Drug name
          example: "WARFARIN"
        severity:
          type: integer
          minimum: 1
          maximum: 5
          description: Concern severity (1=minor, 5=contraindicated)
          example: 3
        severity_name:
          type: string
          description: Human-readable severity label
          example: "CAUTION"
        reason:
          type: string
          description: Clinical rationale
          example: "Diabetes may alter warfarin metabolism"
        source:
          type: string
          description: Data source
          example: "openFDA Label"

    ClinicalAlert:
      type: object
      description: Clinical safety alert from cross-drug analysis
      properties:
        drug_id:
          type: string
          description: sfrx_id of the drug involved
          example: "SRX-012-003336"
        drug:
          type: string
          description: Drug name (English)
          example: "WARFARIN"
        drug_ar:
          type: string
          description: Drug name (Arabic)
          example: ""
        condition:
          type: string
          description: Condition name (for condition alerts)
          example: "diabetes"
        condition_ar:
          type: string
          description: Condition name in Arabic
          example: "مرض السكري"
        population:
          type: string
          description: Population name (for population alerts)
          example: "geriatric"
        population_ar:
          type: string
          description: Population name in Arabic
          example: "كبار السن"
        severity:
          type: integer
          minimum: 1
          maximum: 5
          description: Alert severity
          example: 3
        severity_label:
          type: string
          description: Severity label (English)
          example: "CAUTION"
        severity_label_ar:
          type: string
          description: Severity label (Arabic)
          example: "احذر"
        contraindicated:
          type: boolean
          description: Whether the drug is contraindicated for this population/condition
          example: false
        requires_dose_adjustment:
          type: boolean
          description: Whether dose adjustment is needed
          example: false
        dose_adjustment:
          type: string
          nullable: true
          description: Matched dose-adjustment instruction from the population band, when available.
          example: "50%"
        dose_recommendation:
          type: string
          nullable: true
          description: Matched dosing recommendation in English, when available.
          example: "Reduce dose to 250 mg once daily."
        dose_recommendation_ar:
          type: string
          nullable: true
          description: Matched dosing recommendation in Arabic, when available.
          example: "قلل الجرعة إلى 250 مجم مرة يومياً."
        matched_context:
          type: object
          additionalProperties: true
          description: Matched renal/hepatic/pediatric context, including the selected band or grade when available.
        monitoring_required:
          type: boolean
          description: Whether additional monitoring is needed
          example: true
        reason:
          type: string
          description: Clinical rationale (English)
          example: "Requires dose adjustment in older adults"
        reason_ar:
          type: string
          description: Clinical rationale (Arabic)
          example: "يتطلب تعديل الجرعة لكبار السن"
        source:
          type: string
          description: Data source
          example: "OpenFDA Label"
        special_notes:
          type: object
          description: Additional clinical notes
          properties:
            geriatric_high_risk:
              type: boolean
              description: Whether this drug is flagged as high-risk for elderly patients
              example: false

    # --- Dosing ---

    DosingData:
      type: object
      description: |
        Dose limits and daily-dose reference data from the unified dosing path.
        Includes standard dose summaries, dose limits, daily-limit data when
        available, and caveats for products where calculation needs pharmacist review.
      properties:
        tier:
          type: integer
          enum: [1, 2]
          description: |
            Data quality tier.
            - `1` - Full reference and regulatory daily-limit data available
            - `2` - Regulatory daily-limit data only
          example: 1
        max_units_per_day:
          oneOf:
            - type: number
              format: float
            - type: "null"
          description: Maximum safe units (tablets, capsules) per day
          example: 3.0
        max_ml_per_day:
          oneOf:
            - type: number
              format: float
            - type: "null"
          description: Maximum safe volume per day for liquid forms
          example: null
        unit_label:
          type: string
          description: Unit type (tablets, capsules, ml, etc.)
          example: "tablets"
        flagged:
          type: boolean
          description: Whether dose calculation has caveats requiring attention
          example: false
        skip_reason:
          oneOf:
            - type: string
            - type: "null"
          description: Reason if dose calculation was skipped (e.g., topical, inhaled)
          example: null
        caveat:
          oneOf:
            - type: string
            - type: "null"
          description: Important caveat about the dose calculation
          example: null
        reference_dose:
          oneOf:
            - $ref: '#/components/schemas/ReferenceDose'
            - type: "null"
          description: WHO DDD reference dose data
        daily_limit:
          oneOf:
            - $ref: '#/components/schemas/DailyLimit'
            - type: "null"
          description: Regulatory maximum daily dose data
        standard_dose:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"
          description: Standard-dose summary when available, including route, frequency, and verification flags.
        dose_limits:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Dose-limit records used by the unified dosing path.
        display_summary:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"
          description: Clinician/patient display summary for dose limits and caveats, when available.
        dose_uncertainty:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"
          description: Calculation uncertainty or review requirement, when available.
        monitoring_display:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"
          description: Display-safe monitoring instructions linked to the dose record, when available.
        components:
          oneOf:
            - type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/DoseComponent'
                  - type: "null"
            - type: "null"
          description: Per-ingredient dose data for combination drugs
        source:
          type: string
          enum:
            - "reference_standard"
            - "regulatory_label"
            - "dual_source"
          description: |
            Data source for this dose calculation.
            - `reference_standard` — reference dose data only
            - `regulatory_label` — regulatory daily-limit data only
            - `dual_source` — reference and regulatory daily-limit data available
          example: "dual_source"

    ReferenceDose:
      type: object
      description: WHO Defined Daily Dose (DDD) reference data
      properties:
        value:
          type: number
          format: float
          description: DDD value
          example: 0.85
        unit:
          type: string
          description: DDD unit (g, mg, etc.)
          example: "g"
        units_per_ddd:
          type: number
          format: float
          description: Number of dosage units per DDD
          example: 1.0

    DailyLimit:
      type: object
      description: Regulatory maximum daily dose data
      properties:
        value_mg:
          type: number
          format: float
          description: Maximum daily dose in milligrams
          example: 2550.0
        confidence:
          type: string
          enum: ["high", "medium", "low"]
          description: Confidence level of the dose calculation
          example: "high"
        route:
          type: string
          description: Administration route
          example: "oral"

    DoseComponent:
      type: object
      description: Per-ingredient dose data for combination drugs
      properties:
        value_mg:
          type: number
          format: float
          description: Maximum daily dose for this ingredient in mg
          example: 2625.0
        original_value:
          type: number
          format: float
          example: 2625.0
        original_unit:
          type: string
          example: "mg"
        route:
          type: string
          example: "oral"
        confidence:
          type: string
          enum: ["high", "medium", "low"]
          example: "high"
        confidence_reason:
          type: string
          example: "Clear dosing regimens with maximum daily dose calculable"
        usual_range:
          type: string
          description: Typical daily dose range
          example: "500-2625 mg/day"
        max_single_dose_mg:
          type: number
          format: float
          example: 875.0
        weight_based:
          type: boolean
          description: Whether dosing is weight-based
          example: true
        weight_dose:
          type: string
          description: Weight-based dosing if applicable
          example: "45 mg/kg/day"
        indication_specific:
          type: boolean
          description: Whether max dose varies by indication
          example: true
        indication_note:
          type: string
          example: "Higher doses for severe infections"

    # --- Allergy ---

    AllergyData:
      type: object
      description: |
        Patient allergy matching results. Without `patient_profile.allergies`,
        the domain returns reference-only summary data and no patient-specific
        clearance should be inferred.
      properties:
        mode:
          type: string
          enum:
            - "reference_only"
            - "patient_profile"
          example: "patient_profile"
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AllergyWarning'
        summary:
          $ref: '#/components/schemas/AllergySummary'
        product_families:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AllergyProductFamilyReference'
          description: Product-level allergy family and cross-reactivity reference data keyed by `sfrx_id`.
        needs_review_entries:
          type: array
          items:
            $ref: '#/components/schemas/AllergyInputEntry'
        unresolved_entries:
          type: array
          items:
            $ref: '#/components/schemas/AllergyInputEntry'
        missing_products:
          type: array
          items:
            type: string
          description: Resolved product IDs that had no allergy reference record.

    AllergyProductFamilyReference:
      type: object
      properties:
        tradename_en:
          type: string
          example: "AUGMENTIN 1GM 14 TAB"
        generic_en:
          type: string
          example: "AMOXICILLIN + CLAVULANIC ACID"
        dosage_form_en:
          type: string
          example: "Oral Tablet"
        route_type:
          type: string
          nullable: true
          example: "oral"
        has_allergy_data:
          type: boolean
          example: true
        families:
          type: array
          items:
            $ref: '#/components/schemas/AllergyFamilyReference'

    AllergyFamilyReference:
      type: object
      properties:
        family_id:
          type: string
          example: "penicillin"
        name_en:
          type: string
          example: "Penicillins"
        name_ar:
          type: string
          nullable: true
          example: "البنسلينات"
        description_en:
          type: string
          nullable: true
          example: "Penicillin beta-lactam antibiotics."
        description_ar:
          type: string
          nullable: true
          example: "مضادات حيوية بيتا لاكتام من عائلة البنسلين."
        clinical_significance:
          type: string
          nullable: true
          example: "HIGH"
        cross_reactivity:
          type: array
          items:
            $ref: '#/components/schemas/AllergyCrossReactivityReference'

    AllergyCrossReactivityReference:
      type: object
      properties:
        target_family:
          type: string
          example: "cephalosporin"
        target_family_name_en:
          type: string
          example: "Cephalosporins"
        target_family_name_ar:
          type: string
          nullable: true
          example: "السيفالوسبورينات"
        severity:
          type: integer
          minimum: 1
          maximum: 5
          example: 3
        severity_label:
          type: string
          nullable: true
          example: "CAUTION"
        severity_label_ar:
          type: string
          nullable: true
          example: "تحذير"
        frequency_category:
          type: integer
          nullable: true
          example: 2
        frequency_label:
          type: string
          nullable: true
          example: "uncommon"
        frequency_label_ar:
          type: string
          nullable: true
[...]
